body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgba(196, 196, 196, 0.137);
  /* font-size: 1rem; */
  /* font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace; */
  font-family: 'Lato', sans-serif;
}
.gitblog-page {
  /* max-width: 700px; */
  max-height: 100vh;
  font-weight: lighter;
}
.cover-img {
  display: none;
}
.container {
  height: 100%;
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}
.section-a {
  /* background: pink; */
  height: 15%;
  width: 100%;
  border-bottom: 1px solid rgba(179, 179, 179, 0.233);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgba(2, 2, 2, 0.664);

  padding: 30px;
}
.profile {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  box-shadow: 0px 0px 6px 4px rgba(37, 37, 37, 0.308);
  margin-bottom: 30px;
}
.gitstages {
  height: 45%;
  width: 94%;
  /* border: 1px solid black; */
}
.section-b {
  /* background: rgb(20, 20, 20); */
  width: 100%;
  height: 90%;
  margin: 20px;
  color: rgba(2, 2, 2, 0.705);
}
.title {
  margin-bottom: 15px;
}
h1 {
  margin: 0;
  padding: 0;
}

.table-content {
  background-color: rgba(155, 155, 155, 0.041);
  overflow: hidden;
}
h3 {
  padding: 5px;
  padding-left: 14px;
  margin: 0;
  width: 100%;
  border-bottom: 1px solid rgba(44, 44, 44, 0.11);
}
a {
  color: rgb(56, 56, 56);
}

a:hover {
  cursor: pointer;
  font-size: large;
  color: rgb(146, 146, 146);
}

p {
  /* text-align: center; */
  text-align: justify;
  /* line-height: 0.97px; */
  letter-spacing: 0.5px;
  line-height: 24px;
}

.tuto-steps {
  margin-top: 20px;
  padding: 10px;
  text-align: center;
  /* border-top: 1px solid rgba(0, 0, 0, 0.164); */
  border-bottom: 1px solid rgba(0, 0, 0, 0.164);
}

.tuto {
  /* overflow-y: scroll; */
  overflow: hidden;
}

.question {
  font-style: oblique;
  text-shadow: 1px 1px 1px rgba(136, 136, 136, 0.253);
}

.code-wrapper {
  /* max-width: 400px; */
  /* min-width: 400px; */
  /* height: 50px; */
  width: 100%;
  background-color: rgba(70, 70, 70, 0.048);
  padding: 10px;
  padding-left: 20px;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  margin-bottom: 10px;
  /* font-size: 1.4rem; */
  /* overflow-x: scroll; */
}

code {
  display: block;
  /* overflow-x: scroll; */
  width: 100%;
  /* background-color: black; */
}
/*
code div {
  width: 730px;
  display: block;
  padding: 20px;
  height: 10px;
} */

.function {
  color: #dd4a68;
}

.eg-Imgs {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .cover-img {
    display: block;
    width: 100%;
    height: 283px;
  }
  .container {
    height: 100%;
    /* width: 100%; */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 30px 100px;
    /* background-color: aqua; */
  }

  .section-a {
    width: 40%;
    border-bottom: none;
    display: flex;
    flex-direction: column;
    justify-content: start;
    /* align-items: center; */
    /* align-items: flex-start; */
    border-right: 1px solid rgba(0, 0, 0, 0.247);
    color: rgba(2, 2, 2, 0.664);
    /* background-color: rgb(19, 90, 153); */
    padding: 30px;
    height: 100vh;
  }

  .vcs-types-wrapper {
    display: flex;
    height: 100%;
  }

  .vcs-types-wrapper > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: blue; */
    justify-content: center;
    align-items: center;
  }

  .section-b {
    padding: 0px 0px 0px 0px;
    /* background: rgb(20, 20, 20); */
    width: 100%;
    max-width: 747px;
    /* height: 90%; */
    margin: 20px;
    color: rgba(2, 2, 2, 0.705);
  }
}
